<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<!-- iCloud enabled for simulator testing -->
	<key>com.apple.developer.ubiquity-kvstore-identifier</key>
	<string>$(TeamIdentifierPrefix)$(CFBundleIdentifier)</string>
	<!-- App Groups for widget data sharing -->
	<key>com.apple.security.application-groups</key>
	<array>
		<string>group.com.p2glet.Daylit</string>
	</array>
</dict>
</plist>
